@model IQueryable<Cour>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
</head>
<body>
    <div>
        @ViewBag.message
        <ul>
            @foreach (Cour cours in Model)
            {
                <li>@cours.Nom</li>
            }
</ul>
        </div>
    </body>
</html>
