@model IQueryable<Cour>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>

    
</head>
<body>
    <div>
        @ViewBag.message
        <ul>
            @foreach (Cour cours in Model)
            {
                <li>@cours.Nom</li>
            }
        </ul>
        <!--Nom-->
        <input type="text" id="nom" />

        <!--Description-->
        <input type="text" id="description" />

        <!--Prerequis-->
        <input type="text" id="prerequis" />

        <!--Insertion on click-->
        <input type="button" onclick="insert()" />
    </div>
    <script src="~/Scripts/ModifDataBase.js"></script>
</body>
</html>
