
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="~/Content/admin.css" rel="stylesheet" />
</head>
<body>
   
@if (ViewBag.email!= null)
{
    <script>
        alert("@ViewBag.email");
    </script>
}
@if (ViewBag.login!= null) {
    <script>alert("@ViewBag.login");</script>
}
    
<form method="post" action="/Default/Index">

    <div class="container">
	    <div class="row justify-content-center">
			<div class="col-4" style="margin-top: 50px;">
				<label>Utilisateur :</label><input name="user" class="form-control" type="text" /><br />
				<label>Password :</label><input name="pass" class="form-control" type="password" /><br />
				@*<input type="submit" class="btn btn-primary" value="Login" /><br />*@
				<button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button><br />
				@Html.ActionLink("Pas encore inscrit", "inscription", "Default")
			</div>
	    </div>
        
    </div>
</form>
</body>
</html>
