
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/admin.css" rel="stylesheet" />
</head>
<body>
   
@if (ViewBag.email!= null)
{
    <script>
        alert("@ViewBag.email");
    </script>
}
@if (ViewBag.login!= null) {
    <script>alert("@ViewBag.login");</script>
}
    
<form method="post" action="/Default/Index">

    <div class="container">
        <label>Utilisateur :</label><input name="user" type="text" /><br />
        <label>Password :</label><input name="pass" type="password" /><br />
        <input type="submit" value="Login" /><br />
        @Html.ActionLink("Pas encore inscrit", "inscription", "Default")
    </div>
</form>
</body>
</html>
